
        <footer class="mt-auto text-center text-white">

            
                
                <div class="row p-0 m-0">

                    <div class="col-8 text-center">

                     
                        <h4 class="text-center">Locales</h4>

                        <div class="text-left my-4">

                            <span class="d-block my-2">Colonia Palmira Plaza San Carlos Segundo Piso</span>

                            <span class="d-block my-2">Boulevard Los Proceres Contiguo a Iglesia Medalla Milagrosa</span>

                        </div>
                    </div>

              
 
                     <div class="col-4 align-items-center mt-3">
                               
                                <i class="fab fa-facebook mb-3"></i>
                                <i class="fab fa-instagram mb-3"></i> 
                                <span class="d-block">2236-20-74</span> 
                                <span class="d-block">9483-54-39</span> 
                               
 
 
                                                                                                                     
                     </div>
                    

                </div>

                <div class="row p-0 m-0">

                    <div class="col-12">

                        <span class="mt-5">Correo:</span>
                        <span class="d-block text-center">laboratoriossanfelipe@gmail.com</span>

                    </div>

                </div>
           

        </footer>