* {
  font-family: 'Playfair Display', serif;
}

.wrapper {
  height: 550px;
  position: relative;
  overflow-y: scroll;
}

.examenes-image {
  background-image: url(/images/examenesimage2.png);
  background-size: 600px 500px;
  background-repeat: none;
}

@media screen and (max-width: 612px) {
  .wrapper {
    height: 350px;
  }

  .wrapper h2 {

      font-size:15px;s
  }

  .col-6{
    max-width:100%;
    flex:none;
 
  }
}

