* {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.row {
  margin: 0;
}
.carousel-wrapper {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.section {
  position: relative;
  width: 80%;
  height: 400px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-top: black solid 2px;
}

.col-6.h-100 {
  background-image: url(/images/microscope.jpg);
  background-size: cover;
  background-repeat: none;
}

@media screen and (max-width: 612px) {
  .carousel-wrapper{
    width: 100%;
    height: 200px; 
}

.section {

  width:100%;
  height:150px;
}
